.squareImg {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}

.previewImg {
  object-fit: cover;
  width: 60%;
}

/* #uploadInput {
  height: 100%;
  width: 100%;
} */